*{
	margin: 0 auto;
	padding: 0px;
}
body{
	-webkit-animation: colorchange 30s infinite;
}
.center{
	position: absolute;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}
.cir{
	border-radius: 50%;
	opacity: 0.0;
}
.cir0{
	height: 400px;
	width: 400px;
	-webkit-animation:op0 1s infinite;
	z-index: 5;
	border:100px solid white;
}
.cir1{
	height: 600px;
	width: 600px;
	border:150px solid white;
	-webkit-animation:op1 1s infinite;
	z-index: 3;
}
.cir2{
	height: 900px;
	width: 900px;
	border:200px solid white;
	-webkit-animation:op2 1s infinite;
	z-index: 1;
}
.text{	
	height: 50px;
	width: 800px;
	font-size: 40px;
	color: black;
	opacity: 0.5;
	z-index: 9;
	overflow: hidden;
	font-family: Consolas;	
}
p{
	text-align: center;

}
img{
	-webkit-animation: rotate 120s infinite linear;
	z-index: 7;
	height: 200px;
	width: 225px;
}
@-webkit-keyframes rotate{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}
@-webkit-keyframes colorchange{
	0%{
		background: #9bbdbf;
	}
	12%{
		background: #00bf94;
	}
	24%{
		background: #9bbdbf;
	}
	36%{
		background: #bfb393;
	}
	48%{
		background: #a1bf09;
	}
	60%{
		background:#bfb393;
	}
	72%{
		background: #a993bf;
	}
	84%{
		background: #7323bf;
	}
	100%{
		background: #9bbdbf ;
	}
}
@-webkit-keyframes op0{
	0%{
		opacity: 0.3;
	}
	1377
		opacity: 0.25;
	}
	25%{
		opacity: 0.20;
	}
	37%{
		opacity: 0.15;
	}
	50%{
		opacity: 0.1;
	}
	63%{
		opacity: 0.15;
	}
	75%{
		opacity: 0.2;
	}
	88%{
		opacity: 0.25;
	}
	100%{
		opacity: 0.3;
	}
}
@-webkit-keyframes op1{
	0%{
		opacity: 0.2;
	}
	13%{
		opacity: 0.15;
	}
	25%{
		opacity: 0.1;
	}
	37%{
		opacity: 0.15;
	}
	50%{
		opacity: 0.2;
	}
	63%{
		opacity: 0.25;
	}
	75%{
		opacity: 0.3;
	}
	88%{
		opacity: 0.25;
	}
	100%{
		opacity: 0.2;
	}
}

@-webkit-keyframes op2{
	0%{
		opacity: 0.1;
	}
	13%{
		opacity: 0.15;
	}
	25%{
		opacity: 0.2;
	}
	37%{
		opacity: 0.25;
	}
	50%{
		opacity: 0.3;
	}
	63%{
		opacity: 0.25;
	}
	75%{
		opacity: 0.2;
	}
	88%{
		opacity: 0.15;
	}
	100%{
		opacity: 0.1;
	}
}

